@model IEnumerable<WebApplication1.Models.NhaXuatBan>
<ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="background-color:darkorange;">
        <a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">Chủ Đề Sách</a>
    </li>
    @foreach (WebApplication1.Models.NhaXuatBan item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.TenNXB, "NhaXuatBans", new { id = item.MaNXB }, htmlAttributes: new { style = "text-transform:uppercase; text-decoration:none;" })
        </li>
    }
    <li class="list-group-item">
        <a href="#" style="text-transform:uppercase; text-decoration:none;"> </a>
    </li>
</ul>