@model IEnumerable<WebApplication1.Models.ChuDe>
<ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="background-color:darkorange;">
        <a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">Chủ Đề Sách</a>
    </li>
    @foreach (WebApplication1.Models.ChuDe item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.TenChuDe, "SachTheoCD", new {id = item.MaChuDe}, htmlAttributes: new { style = "text-transform:uppercase; text-decoration:none;" })
        </li>
    }
    <li class="list-group-item">
        <a href="#" style="text-transform:uppercase; text-decoration:none;"> </a>
    </li>
</ul>